@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

:root {
  --hue-primary:186;
  --hue-secondary:254;
  --hue-acent:148;
  --bg: hsl(var(--hue-primary),0%,95%);
  --bg-primary: hsl(var(--hue-primary),100%,100%);
  --primary:    hsl(var(--hue-primary),89%,41%);
  --primary-d:  hsl(var(--hue-primary),89%,38%);
  --primary-l:  hsl(var(--hue-primary),60%,89%);
  --secondary:  hsl(var(--hue-secondary),0%,50%);
  --secondary-l:hsl(var(--hue-secondary),0%,89%);
  --secondary-d:hsl(var(--hue-secondary),0%,30%);
  --acent:      hsl(var(--hue-acent),42%,42%);
  --acent-l:    hsl(var(--hue-acent),60%,89%);
  --acent-d:    hsl(var(--hue-acent),32%,32%);
  --text-l:   #ffffff;
  --text-d:   #000000;
}

body {
  color: var(--text-d);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
